/* DECORATOR */
.mmus-dec-bf::before,
.mmus-dec-af::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 40%;
  border-bottom: 1px solid #0070bb;
}

/* NAV */
body .header4.navbar-default {
  margin-bottom: 0;
}

.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 40px;
  background-color: #e8e8e8;
}
