/* DECORATOR */
.mmus-dec-bf::before,
.mmus-dec-af::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 40%;
  border-bottom: 1px solid #0070bb;
}

/* NAV */
body .header4.navbar-default {
  margin-bottom: 0;
}

.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 40px;
  background-color: #e8e8e8;
}

/* SINGLE POST */
#mmus-single-post {
  margin-bottom: 40px;
}

#mmus-single-post > .container {
  max-width: 900px;
}

.single-post-header {
  margin-bottom: 30px;
}

.single-post-header .post-title {
  margin: 0;
  font-size: 40px;
  line-height: 1.3;
}

.single-post-header a {
  text-transform: capitalize;
}

/* RELATED POSTS */
.related-posts .headline {
  font-weight: 700;
  text-transform: capitalize;
}

.related-posts .title {
  color: #000000;
  text-transform: uppercase;
}

.related-posts .headline .view-all {
  color: #0070bb;
}

#mmus-single-post .related-posts .orbit-thumbnail-bg {
  min-height: 180px;
}

.related-posts .cat-headline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.related-posts .decorator::after,
.single-post-header .post-title::after {
  max-width: 100%;
  border-bottom-color: #000000;
}

/* COMMENTS */
#mmus-single-post .sp-comments#comments {
  font-weight: 400;
}

#mmus-single-post .entry-comments {
  padding: 30px;
  max-width: 100%;
  background-color: #ddddee;
}

#mmus-single-post .comment-form label {
  color: #000000;
  font-weight: 500;
}

/* ORBIT TEMPLATES */
.orbit-three-grid .post-categories {
  font-size: 14px;
}

.articles-four-grid,
.articles-grid-sticky {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.orbit-article-db .orbit-thumbnail-bg {
  min-height: 250px;
}

.articles-two-grid .post-desc,
.articles-three-grid .post-desc {
  padding: 20px 0;
}

.articles-two-grid .orbit-article-db {
  border: none;
}

.articles-grid-sticky .sticky {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.articles-grid-sticky .sticky .orbit-thumbnail-bg {
  min-height: 500px;
}

.articles-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}

.articles-list .orbit-article-db {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 125px;
}

.articles-list .post-title {
  margin-top: 0;
}

.articles-list .orbit-thumbnail-bg {
  min-height: 0;
  align-self: start;
}

.articles-list .orbit-thumbnail-bg::after {
  content: '';
  display: block;
  padding-top: 60%;
}

/* ARCHIVE */
.archive-header .page-title {
  color: #0070bb;
}

.archive .articles-post-list-wrap {
  margin: 40px 0;
}

/* CATEGORY */
.archive.category .articles-grid-sticky {
  margin-bottom: 20px;
}

.archive.category .download-pdf > a {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
}

/* TAG */
.archive.category .download-pdf,
.archive.tag .orbit-btn-load-parent {
  text-align: center;
}

.archive.category .download-pdf > a,
.archive.tag .orbit-btn-load-parent button {
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  background: #0070bb;
  border: 1px solid #0070bb;
  transition: all .3s;
}

.archive.category .download-pdf > a:hover,
.archive.tag .orbit-btn-load-parent button:hover {
  background: #007ccf;
  border-color: #007ccf;
}

/* AUTHOR */
.archive-header.author-header {
  margin-bottom: 20px;
}

/* -------------------------- MEDIA QUERIES ------------------------- */
@media(max-width: 1024px) {
  .articles-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 426px) {
  .articles-grid {
    grid-template-columns: 1fr;
  }
}
